
<template name="footer">

    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>
    <div class="break-lg"></div>

</template>