
<template name="nav">
    <nav class="nav-bar">
        <div class="col-xs-12 col-sm-6 col-lg-8">
            <a href="http://vivaldibeta.com">
                <div class="logo-lg"></div>
            </a>
        </div>
        <ul class="col-xs-12 col-sm-6 col-lg-4">
            <li class="nav-elements right">
                <a href="#team">
                    <h6>
                        Team
                    </h6>
                </a>
            </li>
            <li class="nav-elements right">
                <a href="#about">
                    <h6>
                        About
                    </h6>
                </a>
            </li>
        </ul>
    </nav>
</template>