
<template name="viv_ed">

    <section class="col-xs-12 dark-bg">
        <h2 class="dark-header">Vivaldi Education</h2>
        <div class="break-md"></div>
        <p class="dark-info">
            We build technology tailored for music<br>
            teachers to manage their ensembles.<br>
        </p>
        <h3 class="dark-info">
            Make music with us.
        </h3>
        <div class="divider white-color"></div>
        <div class="center">
            <a target="_blank" href="http://vivaldibeta.com/signup">
                <button class="btn btn-white btn-lg center">
                    Get Started
                </button>
            </a>
        </div>
    </section>


    <section class="col-xs-12 col-sm-offset-1 col-sm-10">
        <article class="row info" id="about">
            <h3 class="col-xs-12 col-sm-2 item-title">
                About
            </h3>
            <p class="col-xs-12 col-sm-9 item-text">
                We build software for High School Bands and Orchestras. With our software, directors are now able to manage their ensembles by assigning their students practice materials, linking to recordings of pieces, and monitor student practice habits.
            </p>
        </article>

        <div class="break-lg"></div>
        <div class="break-lg"></div>
        <div class="break-lg"></div>
        <div class="break-lg"></div>
        <div class="break-lg"></div>

        <article class="row info" id="team">
            <h3 class="col-xs-12 col-sm-2 item-title">
                Team
            </h3>
            <div class="col-xs-12 col-sm-9 center">
                <div class="col-xs-12 col-sm-3 team-member">
                    <div class="member-img">
                        <img src="">
                    </div>
                    <h5 class="member-name">Alex Akagi</h5>
                    <h6>
                        Alex is a Violist and was in Purdue Philharmonic. He programs and makes sure things get done.
                    </h6>
                </div>
                <div class="col-xs-12 col-sm-3 team-member">
                    <div class="member-img">
                        <img src="">
                    </div>
                    <h5 class="member-name">Andy King</h5>
                    <h6>
                        Andy is the Director of Orchestras at Purdue University. He is in charge of networking and sales.
                    </h6>
                </div>
                <div class="col-xs-12 col-sm-3 team-member">
                    <div class="member-img">
                        <img src="">
                    </div>
                    <h5 class="member-name">Ben Alderfer</h5>
                    <h6>
                        Ben plays the clarinet in Purdue Wind Ensemble. He builds the User Interface of Vivaldi.
                    </h6>
                </div>
                <div class="col-xs-12 col-sm-3 team-member">
                    <div class="member-img">
                        <img src="">
                    </div>
                    <h5 class="member-name">Eddie Williams</h5>
                    <h6>
                        Eddie is a guitarist, and has played music all his life. He builds the backend logic of Vivaldi.
                    </h6>
                </div>
            </div>
        </article>

        <div class="break-lg"></div>
        <div class="break-lg"></div>
        <div class="break-lg"></div>
        <div class="break-lg"></div>
        <div class="break-lg"></div>
        <div class="break-lg"></div>
        <div class="break-lg"></div>
        <div class="break-lg"></div>


        <article class="row info" id="team">
            <h3 class="col-xs-12 col-sm-2 item-title">
                Contact
            </h3>
            <p class="col-xs-12 col-sm-9 item-text">
                To reach the Vivaldi team, please email vivaldimailer@gmail.com
            </p>
        </article>
        
    </section>



</template>